* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
}

/* HERO */
.hero {
  height: 100vh;
  background: 
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("https://picsum.photos/1920/1080") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}


.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero button {
  padding: 14px 35px;
  border: none;
  background: #fff;
  color: #0072ff;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: #eaeaea;
}

/* FEATURES */
.features {
  display: flex;
  gap: 30px;
  padding: 80px 10%;
  flex-wrap: wrap;
  justify-content: center;
}

.feature {
  background: white;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.feature:hover {
  transform: translateY(-10px);
}

.feature img {
  width: 100%;
  border-radius: 10px;
}

.feature h3 {
  margin: 15px 0 10px;
}

/* FOOTER */
.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  color: white;
  font-size: 28px;
  margin: 0 15px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #00c6ff;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }
}
